<IfModule mod_rewrite.c>
  RewriteEngine On

  # Setup path variable(s)
  RewriteCond %{REQUEST_URI}::$1 "^/(.+)(.+)::\2$"
  RewriteRule ^(.*) - [E=BASE:%1,E=RELPATH:%2]

  # Public path
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^public/(.*)$ public/$1 [L]

  # Public path with no public/ prefix
  RewriteCond %{DOCUMENT_ROOT}/%{ENV:BASE}public/%{ENV:RELPATH} -s [OR]
  RewriteCond %{DOCUMENT_ROOT}/%{ENV:BASE}public/%{ENV:RELPATH} -l [OR]
  RewriteCond %{DOCUMENT_ROOT}/%{ENV:BASE}public/%{ENV:RELPATH} -d
  RewriteRule ^(.*)$ public/$1 [L]

  # Setup forbidden path
  RewriteCond %{REQUEST_FILENAME} -s
  RewriteCond %{ENV:RELPATH} !^public/
  RewriteRule ^(.*)$ - [F,L]

  # Rewrite any nonexist file to public/index.php
  RewriteRule ^(.*)$ public/index.php [END,E=!BASE,E=!RELPATH,L]
</IfModule>

<IfModule mod_alias.c>
  ErrorDocument 400 "/%{ENV:BASE}public/errors/400.php"
  ErrorDocument 401 "/%{ENV:BASE}public/errors/401.php"
  ErrorDocument 403 "/%{ENV:BASE}public/errors/403.php"
  ErrorDocument 404 "/%{ENV:BASE}public/errors/404.php"
  ErrorDocument 410 "/%{ENV:BASE}public/errors/410.php"
  ErrorDocument 500 "/%{ENV:BASE}public/errors/500.php"
  ErrorDocument 501 "/%{ENV:BASE}public/errors/501.php"
</IfModule>

Options -Indexes

SetEnvIf SERVER_ADDR "^(?:127\.0\.0\.\d+|::1)" ENV=development